* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

h1 {
  text-align: center;
  color: orange;
  text-decoration-style: solid;
}

h2 {
  text-align: center;
  color: Black;
}

p {
}

article {
  margin: 30px;
  width: 1600px;
  height: 500px;
  margin: 0 auto;
}

img {
}

.first-text {
  display: block;
  width: 45%;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  font-size: 18px;
  line-height: 23px;
  position: center;
}

.first-image {
  display: block;
  width: 45%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.second-text {
  width: 45%;
  height:346px;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  margin: auto;
}

.vertical {
  vertical-align: middle;
  text-align: center;
}

.second-image {
  display: block;
  width: 45%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.third-text {
  width: 45%;
  height:346px;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  margin: auto;
}

.third-image {
  display: block;
  width: 45%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

nav {
  width: 100;
  height: 50px;
  background-color: yellow;
  margin-left: 20px;
  margin-right: 20px;
  /*position:fixed;*/

}

ul {
margin-left: 60px;

}

ul li {
list-style: none;
display: inline-block;
float: left;
line-height: 50px;
}

ul li a {
text-decoration: none;
font-size: 14px;
font-weight: 100;
font-family: fantasy;
color: orange;
padding: 0 20px;
display: block;

}

ul li a:hover {
  color: red;
}

.icons {
  width: 100%;
  height: 80px;
  display: inline-block;
  cursor: pointer;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.first-icon {
  width: 50px;
  height: 50px;
}

.second-icon {
  width: 50px;
  height: 50px;
}

.third-icon {
  width: 50px;
  height: 50px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  border-radius: 8px;
  border: 2px solid orange;
}

#countDownButton {
  width: 100px;
  height: auto;
  display: none;
}

#HiddenMessage {
  display: none;
  color: red;
  padding-left: 20px;
  font-size: 30px;
  padding-top: 20px;
}

.greetingMessage {
  width: 1500px;
  height: auto;
  padding-left: 0px;
  text-align: left;
  line-height: 24px;
}

#addButton {
  display: block;
  float: right;
  width: 200px;
  margin-right: 100px;
}

.paint {
  color: red;
  padding-left: 20px;
  font-size: 30px;
  padding-top: 20px;
}

.paint2 {
  color: orange;
  padding-left: 20px;
  font-size: 30px;
}

.function {
  height: auto;
  width: 550px;
  padding: 20px;
  line-height: 50px;
}

.function p {
  color: orange;
  font-size: 30px;
}

input {
  height: 30px;
  width: 170px;
}


#quiz {
  display: none;
}

.secondQuiz {
  height:200px;
  width: 500px;
  display: none;
}

.genre {
  padding-top: 10px;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  color: orange;
  float: none;
  line-height: 20px;
}

.genres {
  padding-left: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  position: relative;
}

li.genre {
  display: block;
}

#genre1, #genre2, #genre3 label {
  line-height: 20px;
  cursor: pointer;
  vertical-align: middle;
  justify-content: space-between;
  width: 100px;
}

#genre1 {
  width: 81px;
}

#genre3 {
  cursor: pointer;
  width: 70px;
  vertical-align: middle;
}

.radio {
  width: 35px;
  margin-left: 20px;
  padding-top: 20px;
}

.labeltext {
  height:30px;
  color: orange;
  vertical-align: middle;
  font-style: italic;
  font-size: 37px;

}

.thirdQuiz {
    height: 100px;
}

#quizzz {
  display: none;
}

.randomAnswer {
  width: 100%;
}

#finalAnswer {
  width: 1000px;
  color: purple;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.lastButton {
    display: none;
}

/*input[type="checkbox"]:checked {
  font-weight: bold;
}*/

/*.videowrapper {
  position: relative;
  width: 1000px;
  margin: 0px auto;
  padding-bottom: 52.25%;
  padding-top: 25px;
}

.videowrapper iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}*/
